/* ----- COLOUR REFERENCES -----
Green: #79b044
Salmon: #dd5638
Blue Gray: #3e4249
*/

/* ----- GENERAL ----- */
:root {
  --color-green: #79b044;
  --color-salmon: #dd5638;
  --color-blue_gray: #3e4249;
  --color-gray: #ccc;
  --color-dark: #101010;
  --color-white: #fff;
  --color-twitter_bg: #55acee;
  --color-facebook_bg: #3b5998;
  --color-gplus_bg: #db4b39;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin-top: 5rem;
  background: url('../img/tile.jpg') top left repeat;
}

/* ----- GLOGAL ----- */
h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

/* overide bootstrap style */
h1 {
  font-size: 3em;
}

h1,h2 {
  margin: 0 0 4rem;
}

h3 {
  margin: 2rem 0;
}

h4 {
  font-size: 1.8rem;
}

button, input, .btn, a.btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--color-white);
}

.btn {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.modal-content {
  background: url('../img/tile.jpg') top left repeat;
}

.badge.social {
  background: var(--color-gray);
  font-size: 2.4rem;
  height: 4rem;
  width: 4rem;
  text-align: center;
  line-height: 4.2rem;
  margin:  0 .5rem 2rem 0;
  padding: 0;
  border-radius: 5rem;
}

.badge.social.twitter:hover {
  background: var(--color-twitter_bg);
}

.badge.social.facebook:hover {
  background: var(--color-facebook_bg);
}

.badge.social.gplus:hover {
  background: var(--color-gplus_bg);
}

/* SECTION HERO */
#hero {
  background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
  min-height: 50rem;
  padding: 4rem 0;
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#hero article{
  width: 100%;
  text-align: center;
}

#hero .hero-text {
  margin-top: 3rem;
}

#price-timeline {
  margin: 3rem 0 6rem;
  text-align: center;
}

#price-timeline .price {
  display: inline-block;
  margin: 0 2% 0 0;
  width: 30%;
  background: var(--color-blue_gray);
  padding: 1rem 2rem 3rem;
  position: relative;
  vertical-align: top;
}

#price-timeline .price.active {
  background: var(--color-salmon);
}

#price-timeline .price span {
    background: var(--color-dark);
    display: block;
    height: 7rem;
    width: 7rem;
    text-align: center;
    line-height: 7rem;
    font-weight: bold;
    font-size: 2.4rem;
    border-radius: 100%;
    -webkit-boder-radius: 100%;
    -moz-border-radius: 100%;
    position: absolute;
    bottom: -3.5rem;
    left: 50%;
    margin-left: -3.5rem;
}

#price-timeline h4 {
  margin: 0 0 1rem;
}

#price-timeline h4 small {
  color: var(--color-white);
  font-weight: bold;
  display: block;
}

/* ----- SECTION LAYOUT ----- */
section {
  padding: 8rem 0;
}

section h2 {
  margin: 2rem 0 4rem;
}

section h3 {
  margin: 3rem 0 1rem;
}

.section-header {
  text-align: center;
}

#optin {
  background: var(--color-blue_gray);
  padding: 2rem 0;
  color: var(--color-white);
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#optin p {
  margin: .7rem 0 0 0;
}

/* ----- SECTION WHO BENEFITS ----- */
#who-benefits {
  background: var(--color-white);
}

/* ----- SECTION FEATURES----- */
#course-features {
  background: var(--color-blue_gray);
  color: var(--color-white);
  text-align: center;
}
/* custom icon sprites */
i.ci {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer  { background-position: 0 0; }
.ci.ci-watch     { background-position: -4rem 0; }
.ci.ci-calender  { background-position: -8rem 0; }
.ci.ci-community { background-position: -12rem 0; }
.ci.ci-instructor  { background-position: -16rem 0; }
.ci.ci-device    { background-position: -20rem 0; }

/* ---- SECTION PROJECT FEATURES ----- */
#project-features {
  text-align: center;
}

/* ----- SECTION VIDEO FEATURETTE -----*/
#featurette {
  background: url('../img/stuff-bg.jpg') 50% 100% repeat fixed;
  background-size: cover;
  text-align: center;
  color: var(--color-white);
}

/* ----- SECTION INSTRUCTOR -----*/
#instructor {
  /* 90% is x-positon(90%from left) 1rem is y-position(top) */
  background: var(--color-white) url('../img/black-cover.png') 90% -2rem no-repeat;
}

#instructor h2 {
  margin: 0 0 2rem;
}

#instructor .num {
  font-size: 3rem;
  flex-wrap: bold;
  color: var(--color-white);
  height: 14rem;
  width: 14rem;
  text-align: center;
  background: var(--color-gplus_bg);
  border-radius: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative;
}

.num-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.4rem;
}

#instructor .num span {
  display: block;
  font-size: 2rem;
  font-weight: normal;
}