/* ----- COLOUR REFERENCES -----
Green: #79b044
Salmon: #dd5638
Blue Gray: #3e4249
*/

/* ----- GENERAL ----- */
:root {
  --color-green: #79b044;
  --color-dark_green: #6a9b3d;
  --color-salmon: #dd5638;
  --color-blue_gray: #3e4249;
  --color-gray-dark: #666;
  --color-gray: #ccc;
  --color-gray-light: #ddd;
  --color-dark: #101010;
  --color-white: #fff;
  --color-twitter_bg: #55acee;
  --color-facebook_bg: #3b5998;
  --color-gplus_bg: #db4b39;
  --color-oreng_red: #d95131;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin-top: 5rem;
  background: url('../img/tile.jpg') top left repeat;
}

/* ----- GLOGAL ----- */
h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

/* overide bootstrap style */
h1 {
  font-size: 3em;
}

h1,h2 {
  margin: 0 0 4rem;
}

h3 {
  margin: 2rem 0;
}

h4 {
  font-size: 1.8rem;
}

p {
  margin: 0 0 1.5rem;
}

p.lead {
  font-weight: normal;
}


a:link, a:visited {
  color: var(--color-salmon);
}

a:hover {
  text-decoration: none;
  color: var(--color-salmon);
}

button, input, .btn, a.btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--color-white);
}

.btn {
  font-weight: bold;
}

.btn:focus {
  outline: none !important;
}

.btn-danger {
  background-color: var(--color-salmon);
  border-collapse: var(--color-oreng_red); 
}

.btn-success {
  background: var(--color-green) ;
  border: none;
}

.btn-success:hover {
  background: var(--color-dark_green) ;
  border-color: var(--color-dark_green);
}

img {
  max-width: 100%;
}

.modal-content {
  background: url('../img/tile.jpg') top left repeat;
}

.badge.social {
  background: var(--color-gray);
  font-size: 2.4rem;
  height: 4rem;
  width: 4rem;
  text-align: center;
  line-height: 4.2rem;
  margin:  0 .5rem 2rem 0;
  padding: 0;
  border-radius: 5rem;
}

.badge.social.twitter:hover {
  background: var(--color-twitter_bg);
}

.badge.social.facebook:hover {
  background: var(--color-facebook_bg);
}

.badge.social.gplus:hover {
  background: var(--color-gplus_bg);
}

/* SECTION HERO */
#hero {
  background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
  min-height: 50rem;
  padding: 4rem 0;
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#hero article{
  width: 100%;
  text-align: center;
}

#hero .hero-text {
  margin-top: 3rem;
}

#price-timeline {
  margin: 3rem 0 6rem;
  text-align: center;
}

#price-timeline .price {
  display: inline-block;
  margin: 0 2% 0 0;
  width: 30%;
  background: var(--color-blue_gray);
  padding: 1rem 2rem 3rem;
  position: relative;
  vertical-align: top;
}

#price-timeline .price.active {
  background: var(--color-salmon);
}

#price-timeline .price span {
    background: var(--color-dark);
    display: block;
    height: 7rem;
    width: 7rem;
    text-align: center;
    line-height: 7rem;
    font-weight: bold;
    font-size: 2.4rem;
    border-radius: 100%;
    -webkit-boder-radius: 100%;
    -moz-border-radius: 100%;
    position: absolute;
    bottom: -3.5rem;
    left: 50%;
    margin-left: -3.5rem;
}

#price-timeline h4 {
  margin: 0 0 1rem;
}

#price-timeline h4 small {
  color: var(--color-white);
  font-weight: bold;
  display: block;
}

/* ----- SECTION LAYOUT ----- */
.row + .row {
  margin-top: 2rem;
}

section {
  padding: 8rem 0;
}

section h2 {
  margin: 2rem 0 4rem;
}

section h3 {
  margin: 3rem 0 1rem;
}

#primary {
  padding: 4rem 4rem 0;
}

.feature-image {
  /* how to position center content style1 */
  display: table;
  /* how to position center content style2 */
  /* position: relative; */
  width: 100%;
}

.feature-image-default {
  background: url('../img/stuff-feature.jpg') no-repeat;
  background-size: cover;
}

.feature-image-default-alt {
  background: url('../img/hipster-stuff.jpg') no-repeat;
  background-size: cover;
}

.feature-image h1 {
  /* how to position center content style1 */
  display: table-cell;
  vertical-align: middle;
  /* how to position center content style2 */
  /* position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); */
  text-align: center;
  color: var(--color-white);
}

.section-header {
  text-align: center;
}

#optin {
  background: var(--color-blue_gray);
  padding: 2rem 0;
  color: var(--color-white);
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#optin p {
  margin: .7rem 0 0 0;
}

/* ----- SECTION WHO BENEFITS ----- */
#who-benefits {
  background: var(--color-white);
}

/* ----- SECTION FEATURES----- */
#course-features {
  background: var(--color-blue_gray);
  color: var(--color-white);
  text-align: center;
}

/* ---- SECTION PROJECT FEATURES ----- */
#project-features {
  text-align: center;
}

/* ----- SECTION VIDEO FEATURETTE -----*/
#featurette {
  background: url('../img/stuff-bg.jpg') 50% 100% repeat fixed;
  background-size: cover;
  text-align: center;
  color: var(--color-white);
}

/* ----- SECTION INSTRUCTOR -----*/
#instructor {
  /* 90% is x-positon(90%from left) 1rem is y-position(top) */
  background: var(--color-white) url('../img/black-cover.png') 90% -2rem no-repeat;
}

#instructor h2 {
  margin: 0 0 2rem;
}

#instructor .num {
  font-size: 3rem;
  flex-wrap: bold;
  color: var(--color-white);
  height: 14rem;
  width: 14rem;
  text-align: center;
  background: var(--color-gplus_bg);
  border-radius: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative;
}

.num-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.4rem;
}

#instructor .num span {
  display: block;
  font-size: 2rem;
  font-weight: normal;
}

/* ----- SECTION TESTIMONIALS -----*/
.testimonial {
  margin-bottom: 6rem;
}

.testimonial .col-sm-4 {
  text-align: center;
}

.testimonial img {
  border-radius: 50%;
}

/* ----- SECTION SIGN UP ----- */
#signup {
  text-align: center;
  background: url('../img/hipster-stuff.jpg') center center repeat fixed;
  background-size: cover;
  color: var(--color-white);
  padding: 14rem 0;
}

#signup h2 {
  font-weight: normal;
}

#signup h2 strong {
  border-bottom: 2px solid var(--color-gplus_bg);
}

/* ----- SECTION FOOTER ----- */
footer {
  background: var(--color-blue_gray);
  color: var(--color-white);
  padding: 2rem 0 1rem;
}

footer p {
  margin: 0;
}

footer a:link, footer a:visited {
  color: var(--color-white);
}

footer a:hover {
  color: var(--color-salmon);
}

footer li.signup-link a {
 color: var(--color-salmon); 
}

footer li.signup-link a:hover {
  font-weight: bold;
}


/* ----- BLOG ---- */
.post, .widget{
  position: relative;
  border: solid 1px var(--color-gray-light);
  background: var(--color-white);
  margin: 0 0 4rem;
  border-radius: .4rem;
}

.post header,
.post .post-excerpt {
  padding: 2rem;
}

.post header h1,
.post header h3 {
  margin: 0 0 1.5rem;
  padding: 0 0 1.5rem;
  border-bottom: 1px solid var(--color-gray-light);
}

.post header h1 {
  font-size: 2.4rem;
}

.post-image {
  height: auto;
}

.post-detail {
  font-size: 1.2rem;
  width: 90%;
  padding: 0 0 1rem 0;
}

.post-detail i.fa {
  padding-left: 1rem;
}

.post-detail i.fa:first-child {
  padding: 0;
}

.post-comments-badge {
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  border: none;
  border-radius: 100%;
  background: var(--color-oreng_red);
  text-align: center;
  display: table;
}

.post-comments-badge a {
  display: table-cell;
  vertical-align: middle;
  color: var(--color-white);
  font-size: 1.8rem;
  line-height: 2rem;
}

.post-comments-badge i.fa {
  display: block;
  font-size: 1.5rem;
  padding: 0;
  margin-bottom: .4rem;
}

.post-comments-badge:hover {
  background-color: var(--color-gplus_bg);
}

/* widget */
.widget {
  padding: 2rem;
}

.widget h4 {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid var(--color-gray-light);
}

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget ul li {
  margin: 0 0 .5rem;
}

.widget ul li:hover {
  position: relative;
  left: 1px;
}

/* CUSTOM ICON SPRITES */
i.ci {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer  { background-position: 0 0; }
.ci.ci-watch     { background-position: -4rem 0; }
.ci.ci-calender  { background-position: -8rem 0; }
.ci.ci-community { background-position: -12rem 0; }
.ci.ci-instructor  { background-position: -16rem 0; }
.ci.ci-device    { background-position: -20rem 0; }

/* ----- FORMS ----- */
label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: var(--color-gray-dark);
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

/* ----- MEDIA QUERIES ----- */
/* small than 991px */
@media screen and (max-width: 991px) {
  /* SECTION INSTRUCTOR */
  #instructor .container {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
  }
}

/* small than 768px */
@media screen and (max-width: 768px) {
  /* SECTION HERO */
  .logo {
    width: 50%;
  }

  /* SECTION OPTIN */
  #optin p {
    margin: 0 0 1rem;
  }

  /* SECTION FEATURETTE */
  #featurette iframe {
    height: 24rem !important;
  }
}

/* small than 568px */
@media screen and (max-width: 568px) {
  /* section instructor */
  #instructor .num {
    height: 10rem;
    width: 10rem;
    font-size: 2.2rem;
  }

  #instructor .num span {
    font-size: 1.6rem;
  }

}